In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
#Data collection and pre-processing
#loading the data from csv file to a pandas DataFrame
orgdata = pd.read_csv(r'C:\machinelearningproject\mailspam\spam.csv')

In [3]:
print(orgdata)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will �_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [4]:
# replace the null values with a null string
mail_data = orgdata.where((pd.notnull(orgdata)),'')

In [5]:
# printing the first five rows of dataframe
mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [6]:
mail_data = mail_data[['v1','v2']]
mail_data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
#checking the number of rows and columns in the dataframe.
mail_data.shape

(5572, 2)

Lable Encoding

In [8]:
# label spam mail as 0; ham mail as 1;
mail_data.loc[mail_data['v1']=='spam','v1',] = 0
mail_data.loc[mail_data['v1']=='ham','v1',] = 1

spam = 0
ham = 1

In [9]:
# label the data as text and label

x = mail_data['v2']

y = mail_data['v1']

In [10]:
print(x)    #input features

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will �_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [11]:
print(y)   #target

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

Splitting the data into trainning data and test data

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size = 0.2, random_state = 3)

In [13]:
print(x.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

Feature Extraction

In [14]:
# transform the text data to feature vectors that can be used as input to the Logistic Regression
feature_extraction = TfidfVectorizer(min_df = 1,stop_words = 'english', lowercase = True)

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# convert Y_train and Y_test values as integers
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [15]:
print(X_train_features)

  (0, 742)	0.32207229533730536
  (0, 3962)	0.2411608243124387
  (0, 4279)	0.3893042361045832
  (0, 6580)	0.20305518394534605
  (0, 3375)	0.32207229533730536
  (0, 2116)	0.38519642807943744
  (0, 3126)	0.4403035234544808
  (0, 3251)	0.258880502955985
  (0, 3369)	0.21816477736422235
  (0, 4497)	0.2910887633154199
  (1, 4045)	0.380431198316959
  (1, 6850)	0.4306015894277422
  (1, 6397)	0.4769136859540388
  (1, 6422)	0.5652509076654626
  (1, 7420)	0.35056971070320353
  (2, 934)	0.4917598465723273
  (2, 2103)	0.42972812260098503
  (2, 3899)	0.40088501350982736
  (2, 2220)	0.413484525934624
  (2, 5806)	0.4917598465723273
  (3, 6121)	0.4903863168693604
  (3, 1595)	0.5927091854194291
  (3, 1838)	0.3708680641487708
  (3, 7430)	0.5202633571003087
  (4, 2523)	0.7419319091456392
  :	:
  (4452, 2116)	0.3092200696489299
  (4453, 1000)	0.6760129013031282
  (4453, 7250)	0.5787739591782677
  (4453, 1758)	0.45610005640082985
  (4454, 3019)	0.42618909997886
  (4454, 2080)	0.3809693742808703
  (4454, 3078)	0.34475593009514444
  (4454, 1995)	0.4166919007849217
  (4454, 1050)	0.31932060116006045
  (4454, 7323)	0.31166263834107377
  (4454, 5351)	0.42618909997886
  (4455, 1148)	0.38998123077430413
  (4455, 6413)	0.38998123077430413
  (4455, 6341)	0.25697343671652706
  (4455, 2755)	0.3226323745940581
  (4455, 7335)	0.2915949626395065
  (4455, 7384)	0.3028481995557642
  (4455, 2102)	0.3136468384526087
  (4455, 4235)	0.30616657078392584
  (4455, 3745)	0.16807158405536876
  (4455, 4755)	0.35860460546223444
  (4456, 6098)	0.5304350313291551
  (4456, 6114)	0.5304350313291551
  (4456, 1386)	0.4460036316446079
  (4456, 4541)	0.48821933148688146

Training the model

Logistic Regression

In [16]:
model = LogisticRegression()

In [17]:
# trainning the Logistic Regression model with the training data
model.fit(X_train_features, Y_train)

LogisticRegression()

Evaluating the trained model

In [18]:
# prediction on training data

prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train,prediction_on_training_data)

In [19]:
print('Accuracy on training data: ', accuracy_on_training_data)

Accuracy on training data:  0.9661207089970832

In [20]:
# prediction on test data

prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test,prediction_on_test_data)

In [21]:
print('Accuracy on test data: ', accuracy_on_test_data)

Accuracy on test data:  0.9623318385650225

Building a predictive model.

In [27]:
input_mail = ['Is that seriously how you spell his name?,,,']

#convert text to features vector

input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction  = model.predict(input_data_features)
print(prediction)

if (prediction[0]==1):
    print("Ham mail")
else: 
    print("Spam mail")

[1]
Ham mail